<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Express Skill</title>
</head>
<body>
  <a href="/">Home</a>
  <h1>All Skills</h1>
  <ul>
    <% skills.forEach(function(skill) { %>
      <li>
        <a href="/skills/<%= skill.name %>"> <%= skill.name %> </a>
          - 
        Unit Learned: <%= skill.unit_learned %>
      </li>
    <% }); %>
  </ul>
</body>
</html>